fastapi
uvicorn[standard]
celery
redis
python-multipart
aiofiles
opencv-python
ffmpeg-python
torch
ultralytics
numpy
pydantic
requests
tensorflow==2.16.1
tensorflow-hub
tensorflow-io-gcs-filesystem
google-generativeai>=0.3.0
